:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 3rem;
  background-color: #f2f2f2;
}

h1 {
  margin: 0;
}

p {
  margin: 10px 0;
}

main {
  margin-top: 35px;
}

li {
  padding: 0.1rem 0;
  list-style-type: circle;
}

a {
  color: #e85f18;
}
