* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 2rem;
}

.post-item {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem;
}

.post-info {
  display: flex;
  flex-direction: row;
  color: #555;
}

.post-title {
  display: inline;
  color: #e85f18;
  font-size: 16px;
  cursor: pointer;
}

.post-author {
  display: inline;
  color: #555;
  cursor: pointer;
}
